In [1]:
import pandas as pd

In [3]:
pwd

'C:\\Users\\kiran\\Desktop\\Mini Project June ML Batch 3'

In [2]:
dataframe=pd.read_csv("tmdb-movies.csv")
dataframe.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

In [3]:
#fill NaN values with zero
df=dataframe.dropna()

In [4]:
#finding mean of budget,budget_adj,revenue,and revenue_adj
mean_budget = df['budget'].mean()
mean_revenue = df['revenue'].mean()
mean_budget_adj = df['budget_adj'].mean()
mean_revenue_adj = df['revenue_adj'].mean()
print("mean budegt is:",mean_budget)
print("mean revenue is:",mean_revenue)
print("mean budegt adj is:",mean_budget_adj)
print("mean revenue adj is :",mean_revenue_adj)

mean budegt is: 14625701.09414688
mean revenue is: 39823319.79339223
mean budegt adj is: 17551039.822886847
mean revenue adj is : 51364363.25325093

In [5]:
#replace zero with respective means   
df=df.replace({'budget': {0: mean_budget}})
df=df.replace({'revenue': {0: mean_revenue}})
df=df.replace({'budget_adj': {0: mean_budget_adj}})
df=df.replace({'revenue_adj': {0: mean_revenue_adj}})

In [6]:
df.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [7]:
df1=df[['budget', 'revenue', 'original_title',
       'cast','runtime', 'genres', 'production_companies','release_year', 'budget_adj',
       'revenue_adj']]

In [8]:
df1.head()

,budget,revenue,original_title,cast,runtime,genres,production_companies,release_year,budget_adj,revenue_adj
0,150000000.0,1.513529e+09,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015,1.379999e+08,1.392446e+09
1,150000000.0,3.784364e+08,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015,1.379999e+08,3.481613e+08
2,110000000.0,2.952382e+08,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015,1.012000e+08,2.716190e+08
3,200000000.0,2.068178e+09,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015,1.839999e+08,1.902723e+09
4,190000000.0,1.506249e+09,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015,1.747999e+08,1.385749e+09

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                10866 non-null  float64
 1   revenue               10866 non-null  float64
 2   original_title        10866 non-null  object
 3   cast                  10866 non-null  object
 4   runtime               10866 non-null  int64
 5   genres                10866 non-null  object
 6   production_companies  10866 non-null  object
 7   release_year          10866 non-null  int64
 8   budget_adj            10866 non-null  float64
 9   revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(2), object(4)
memory usage: 849.0+ KB

In [10]:
#QUESTION NO: 1
#3rd highest and 3rd lowest budget film

In [11]:
third_highest_budget=df1.sort_values(by='budget',ascending=False)
third_lowest_budget=df1.sort_values(by='budget')
print("3rd highest budget film:",third_highest_budget.iloc[2,2])
print("3rd lowest budget film:",third_lowest_budget.iloc[2,2])

3rd highest budget film: Pirates of the Caribbean: At World's End
3rd lowest budget film: Angus, Thongs and Perfect Snogging

In [12]:
third_highest_budget[['original_title','budget','genres']].head(3) #budget order is in descending order

,original_title,budget,genres
2244,The Warrior's Way,425000000.0,Adventure|Fantasy|Action|Western|Thriller
3375,Pirates of the Caribbean: On Stranger Tides,380000000.0,Adventure|Action|Fantasy
7387,Pirates of the Caribbean: At World's End,300000000.0,Adventure|Fantasy|Action

In [13]:
third_lowest_budget[['original_title','budget','genres']].head(3) #budget is in ascending order

                          original_title  budget                       genres
2618                        Lost & Found     1.0               Comedy|Romance
1151                         Fear Clinic     1.0                       Horror
3065  Angus, Thongs and Perfect Snogging     1.0  Comedy|Drama|Family|Romance

In [14]:
#QUESTION NO: 2
#highest and lowest revenue film

In [15]:
highest_revenue=df1.sort_values(by='revenue',ascending=False)
lowest_revenue=df1.sort_values(by='revenue')
print("highest revenue film:",highest_revenue.iloc[0,2])
print("lowest revenue film:",lowest_revenue.iloc[0,2])

highest revenue film: Avatar
lowest revenue film: Shattered Glass

In [16]:
highest_revenue[['original_title','revenue','genres']].head(3)

,original_title,revenue,genres
1386,Avatar,2.781506e+09,Action|Adventure|Fantasy|Science Fiction
3,Star Wars: The Force Awakens,2.068178e+09,Action|Adventure|Science Fiction|Fantasy
5231,Titanic,1.845034e+09,Drama|Romance|Thriller

In [17]:
lowest_revenue[['original_title','revenue','genres']].head(3)

,original_title,revenue,genres
5067,Shattered Glass,2.0,Drama|History
8142,Mallrats,2.0,Romance|Comedy
3239,Dr. Horrible's Sing-Along Blog,3.0,Adventure|Action|Comedy|Science Fiction|Music

In [18]:
#QUESTION NO: 3
# finding the average runtime of movies released in the year 2006

In [19]:
avg_time=df1.loc[(df1['release_year'] == 2006)]
avg=avg_time['runtime'].mean()
print("average runtime of movies released in the year 2006 is:",avg)

average runtime of movies released in the year 2006 is: 101.68382352941177

In [20]:
#QUESTION NO: 4
#3 production companies which have invested money in worse revenue movies?

In [21]:
#3 production companies which have invested money in worse revenue ,sorted the movie revenue by ascending order and with the 
#of loop iterate the production_companies column and found the first 3 companies invested in a worse revenue movies 
df2=df1.sort_values(by='revenue_adj')
worse_production_companies ={}
for i in range(1):
    companies = str(df2['production_companies'].values[i]).split('|')
    for j in companies:
        try:
            count = worse_production_companies[j]
            worse_production_companies[j] = count+1
            
        except:
            worse_production_companies[j]= 1
worse_production_companies

{'Lions Gate Films': 1,
 'Cruise/Wagner Productions': 1,
 'Baumgarten Merims Productions': 1}